.bgGray{
    background-color: rgb(227, 226, 226);
min-height: 500px;
}
.SMContainer{
    max-width: 1100px;
    min-height: 100vh;
    margin: auto;
    padding: 0 10px 10px 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    } 
    
.SMul{
display: grid;
grid-gap: 10px;
grid-template-columns: auto auto auto;
margin: 0;
padding: 0;
}
.SMli{
    border: 1px solid rgb(202, 198, 198);
border-radius: 7px;
background-color: white;
padding: 5px;
text-align: left;
display: flex;
flex-direction: column;
justify-content: space-between;
}
.SMdivp>p{
margin: 0 0 5px 0;
}
.SMdivBtn {
display: flex;
align-items: end;
justify-content: center;
}

.SMdivBtn button:nth-child(2){
margin-left: 10px;
}
.SMdivBtn button{
background-color: rgb(0, 149, 255);  
border-color:rgb(0, 149, 255);  
 border-radius: 4px;
 height: 30px;
 color: white;
 cursor: pointer;
    }

.SMbtnDelete:hover{
background-color: rgb(161, 7, 7);  
border-color:rgb(161, 7, 7);   
transition: 0.2s;
 }
 .SMbtnEdit:hover{
    background-color: blue;  
    border-color:blue;  
    transition: 0.2s;
     }
.SMimgPersonal{
width: 100%;
}
.SMdivImg{
border-radius: 4px;
display: flex;
overflow: hidden;
justify-content: center;
}
.SM2divImg{
 border-radius: 4px;

}

.SMdivSpan{
display: flex;
justify-content: center;
align-items: center;
width: 150px;
height: 150px;
border: 1px solid rgb(226, 226, 226);
background-color: rgb(241, 240, 240);
border-radius: 4px;
overflow: hidden;
color: gray;
margin: 0 auto 0 auto;
}
.SMmsgBoxempty{
margin-top: 0;    
}
.SMlandscapeImg{
max-width: 230px;
border-radius: 4px;
}
.SMportraitImg{
 max-height: 200px;
 border-radius: 4px;

}


@media (max-width: 1100px) {
.SMul{
grid-template-columns: auto auto;
}
}
@media (max-width: 950px) {
    .SMul{
    grid-template-columns: auto ;
    }
    }
 @media (max-width: 800px) {
.SMbtnDelete:hover , .SMbtnEdit:hover {
        background-color: rgb(0, 149, 255);  
    border-color:rgb(0, 149, 255);  
}
}
@media (max-height: 450px) {
    .SMul {grid-template-columns: auto auto;
    }
}



        