.IRMlinputFileHidden{ 
display: none;
}
.IRMlabelFile{
border-radius: 5px;
justify-content: space-around;
display: flex;
flex-direction: row;
background-color: white;
align-items: center;
padding: 10px 10px 0 10px;
/* min-height: 241px; */
}
    .IRMlabelFile>* {
 padding: 5px;
        }
.IRMlabelFile > :nth-child(1){
/* max-width: 300px;
min-height:100px ;
max-height: 300px; */
/* min-width: 150px;
min-height: 150px; */
display: flex;
border: 1px solid rgb(202, 202, 202);
margin-bottom: 10px;
border-radius: 8px;
padding: 0;
overflow: hidden;
background-color: rgb(247, 247, 247);
display: flex;
 }
.IRMlandscapeImg{
max-width: 250px;
}
.IRMportraitImg{
    max-height: 220px;
}
 .IRMimgShow{
    width: 100%;
    max-height: 700px;
}
 .IRMdivToTextSpan{
    display: flex;
    justify-content: center;
    align-items:  center;
    color: gray;
    height: 150px;
    width: 150px;
}

.IRMdivBtnFile{
display: flex;
flex-direction: column-reverse;
height: 170px;
justify-content: space-around;
/* max-height: 170px;
height: 100%; */

}
.IRMdivBtnFile> :nth-child(1){
    cursor: pointer;
background-color: rgb(39, 121, 214);
color: white;
display: flex;
align-items: center;
max-width: 180px;
border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}
.IRMdivBtnFile> :nth-child(1):hover{
background-color: blue;
border-color: blue;
}
.IRMdivBtnFile> :nth-child(2){
    border-radius: 5px;
/* margin-left: 10px; */
    background-color: rgb(39, 121, 214);
    color: white;
border-color:  rgb(39, 121, 214);
cursor: pointer;
font-size: 15px;
font-weight: lighter;
display: flex;
align-items: center;
padding: 6px 4px 6px 4px;
}    
.IRMdivBtnFile> :nth-child(2):hover{
background-color: rgb(155, 11, 11) ;
border-color: rgb(155, 11, 11) ;
}
.RMIBtnAcces{
    border-radius: 5px;
    background-color: rgb(39, 121, 214);
    color: white;
border-color:  rgb(39, 121, 214);
cursor: pointer;
padding: 3px 0 3px 0;
}
.RMIBtnAcces:hover{
    background-color: blue;
    border-color: blue;
}
.IRMlabelSpan2{
cursor: pointer;
display: flex;
}
.IRMmsgAlert{
    padding: 2px;
    background-color: rgb(236, 201, 201);
    color: rgb(175, 22, 22);
border-radius: 5px;
text-align: center;
margin: 0 0 8px 0;
}
.IRMspanDad>span{
display: flex;
align-items: center;
justify-content: center;
width: 150px;
height: 150px;    
}

 @media (max-width: 800px) {
 .IRMdivBtnFile> :nth-child(1):hover,.IRMdivBtnFile> :nth-child(2):hover{
 background-color: rgb(39, 121, 214);
 border-color:rgb(39, 121, 214);
    } 
.RMIBtnAcces:hover{
    background-color: rgb(39, 121, 214);
    border-color:rgb(39, 121, 214);   
}
}
@media (max-height: 450px) {
.IRMlabelFile{
flex-direction: row; 
padding: 0 0 0 10px;   
width: 100%;
height: 240px;
justify-content: space-around;
box-sizing: border-box;
}
     
}  
    
