
.IRMiconPhoto{
font-size: 25px;
}
.IRMiconTrash{
    font-size: 20px;
    margin-right: 2px;
}
.IRMspanDad{
display: flex;
justify-content: center;
align-items: center;
color: gray;
/* width: 150px;
height: 150px; */
}
.IRMlabelSelectPhoto{
background-color: rgb(39, 121, 214);
border-radius: 5px;
color: white;
cursor: pointer;
display: block;
padding: 5px;
}
.IRMspan2{
display: flex;
}
/* .IRMdivBtnFoto>:nth-child(2):hover{
background-color: red;
} */

.IRMbtnRemovefoto{
background-color: rgb(39, 121, 214);
border-radius: 5px;
color: white;
border:rgb(39, 121, 214);
padding: 8px 0px 8px 0px;
font-size: 15px;
/* margin-left: 10px; */
cursor: pointer;
display: flex;
align-items: center;
justify-content: center;
}
.IRMbtnRemovefoto:hover{
background-color: rgb(170, 18, 18);
}

.IRMbtnRemovefoto>:nth-child(1){
margin-right: 3px;
}
/* dasdsad */
.IRMdivBtnFoto{
    display: flex;
    flex-direction: column-reverse;
    height: 170px;
    justify-content: space-around;
}
.IRMdivBtnFoto>:nth-child(1):hover{
background-color: blue;
}
.IIElandscapeImg{
max-width: 200px;
border-radius: 4px;
}
.IIEportraitImg{
max-height: 160px;
border-radius: 4px; 
}
.IIEmsgLoad{
    color: rgb(34, 99, 173);
    font-size: 17px;
    border: none;
    padding: 0;
}
/* .IIEdivImgSpan{
    display: none;    
} */


@media (max-width: 800px) {
.IRMbtnRemovefoto:hover{
 background-color: rgb(39, 121, 214);
}
.IRMdivBtnFoto>:nth-child(1):hover {
    background-color: rgb(39, 121, 214); 
}   
}
@media (max-width: 500px) {
.IIEportraitImg{
max-height: 23vh;

}
}


@media (max-width: 410px) {
.IIElandscapeImg {width: 41vw;}
}
@media (max-width: 310px) {
/* .IRMdivBtnFoto {flex-direction: row;
height: auto;
padding: 0;
} */
.IRMbtnRemovefoto {
margin-left: 4px;
padding-left: 3px;
}
.IIElandscapeImg{
max-width: 100%;}
}





@media (max-height: 450px) {
.IRMdivBtnFoto {
flex-direction: column-reverse;
height: 80px;
justify-content: space-around;
width: 100%;
}
.IRMbtnRemovefoto {
/* padding: 10px 0 10px 0; */
height: 40px;
font-size: 16px;
margin: 0 0 5px 0;
/* margin-left: 0; */
/* margin: 0; */
width: 100%;
display: flex;
justify-content: center;
}
.IRMbtnRemovefoto:hover {
    background-color: rgb(39, 121, 214);
 }
.IRMspan2 {
justify-content: center;
}    
.IRMiconTrash{
    font-size: 22px;
} 
.IRMdivBtnFoto>:nth-child(1):hover{
    background-color: rgb(39, 121, 214);    }
.IIEportraitImg{
max-height: 135px;
}
.IRMlabelFile > :nth-child(1) {
    margin-bottom: 5px;    
}
.IRMlabelFile > :nth-child(1) {
    margin-bottom: 0;
}

}
@media (max-width: 630px) and (max-height: 440px) {
    .IIElandscapeImg {
    width: 26vw;
    }
    .IIEMlabelFile {
    height: 100%;
    padding: 0;
flex-direction: row;
justify-content: space-around;
width: 100%;
}   
    .IIEportraitImg {
    max-height: 40vh;
    }
    
    
    }  

