.MDMContainer{
    overflow-x: scroll;
}
.MDEMsquare{
    border: 1px solid gray;   
    border-radius: 5px;
    background-color: white;
max-width: 415px;
width: 100%;
padding: 10px;
margin: 0 5px 0 5px;    
display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.MDEMdivH3Btn{
display: flex;
justify-content: space-between;
align-items: center;
margin-left: 10px;
}
.MDEMH3{
margin: 0;

}

.MDEMbtnClose{
font-size: 30px;
padding-top: 4px;
cursor: pointer;
border: none;
background-color: white;
color:  rgb(0, 149, 255);
width: 40px;
height: 40px;
text-align: center;

}
.MDEMbtnClose:hover{
background-color: rgb(229, 226, 226);
border-radius: 50%;
color: blue;
}
.MDEMmsgSuccess{
    margin: 0;
    color: black;
font-size: 18px;    
background-color: rgb(186, 233, 186);    
 border-radius: 4px;
 border: 1px solid rgb(98, 199, 98);
}
@media (max-width: 800px) {
    .MDEMbtnClose:hover {
        background-color: white;
        color: rgb(0, 149, 255);
    }
}
@media (max-width: 310px) {
.MDEMsquare {
padding: 4px 4px 4px 4px;
}
}
     @media (max-height: 450px) {
.MDEMinputTextEImg{
display: flex;
flex-direction: row-reverse;   
justify-content: space-around; 
}
.MDEMsquare{
max-width: 690px;
padding-top: 0;
}
.MDEMmsgSuccess{
margin-top: 5px;
}
}
@media (max-width: 630px) and (max-height: 440px) {
.MDEMsquare {
padding: 0 5px 3px 5px;
}  
}



